# system files
__pycache__/
.idea/
.DS_Store

# data files
gg2013.json
gg2015.json
processed_gg2013.json
processed_gg2015.json
answer2013.json
answer2015.json

# jos local files
gg_awards.py
gg_api_v2.py